.battery-low path {
  fill: #D50000;
}

.battery-medium path {
  fill: #FFAB00;
}

.battery-high path {
  fill: #00C853;
}

.battery {
    display: inline-block;
    margin-bottom: -5px;
}

.dt-mount-image-wrapper {
    font-size: 10px;
}

.dt-mount-image-wrapper img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    object-fit: cover;
    border: 1px solid #000;
    margin-bottom: 5px;
}